@mixin triangle-down{
	z-index: 3;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: -4.4rem;
	width: 0;
	height: 0;
	border-left: 23.6rem solid transparent;
	border-right: 23.6rem solid transparent;
	content: "";
}