@import "fonts";
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
              box-sizing: border-box;
}
:root{
	font-size: 10px;
}
body{
	overflow-x: hidden;
}
.wrapper{
	min-width: 320px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: $font1;	
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1, 
h2,
h3,
h4{
	font-weight: normal;
}
.container{
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
p{
	font: 1.7rem/2.7rem $font2;
	letter-spacing: 0.034rem;
}
@media screen and(max-width: 768px){
:root{
	font-size: 9px;
}
}

@import "mixin";
@import "header";
@import "block-shadow";
@import "footer";